export(PPnugg)
export(guidedTourNugg)
export(grandTourNugg)
export(PPnuggOptim)
export(NHnugg)
export(nuggKDE)
export(wsph)
export(faProj)
export(plotNugg)
export(plotLoadings)
export(CMNugg)
export(HoleNugg)
import("stats")
import("datanugget")
import("MASS")
importFrom("dplyr", "group_walk","group_by","pull")
importFrom("magrittr","%>%")
importFrom("weights","wtd.hist")
importFrom("rstiefel","rustiefel")
import("gtools")
import("tourr")
import("mclust")
import("graphics")
importFrom("grDevices", "rgb")
